In [1]:
# load cards, customers and merge them

In [41]:
import pandas as pd

## Merge Datasets

In [42]:
cards = pd.read_csv('../data/seeds_db/cards.csv')

In [43]:
customers = pd.read_csv('../data/seeds_db/customers.csv')

In [44]:
merged = pd.merge(customers, cards, left_on='id', right_on='customer_id')

In [60]:
merged

,id_x,name,team_id,email,tempo_de_assinatura,historico_de_presenca_nos_jogos,historico_de_socio,numero_de_desistencias_no_periodo,historico_de_preco_nos_planos,tipo_de_plano,...,id_y,number,cvc,exp_month,exp_year,customer_id,card_status,stripe_id,created_at_y,updated_at_y
0,1,Lissette Goldner,1,hoyt@boyer.example,39,71,11,4,134,familiar,...,1,4242424242424242,930,2,2034,1,NaN,NaN,2024-02-16 20:59:45 UTC,2024-02-16 20:59:45 UTC
1,2,Royal Pollich,1,carol_wehner@ernser.test,52,60,1,1,219,familiar,...,2,4000056655699556,337,8,2025,2,NaN,NaN,2024-02-16 20:59:45 UTC,2024-02-16 20:59:45 UTC
2,3,Murray Sawayn,1,lionel_cronin@boehm-gottlieb.example,29,20,4,3,435,individual,...,3,5555555555554444,213,4,2025,3,NaN,NaN,2024-02-16 20:59:45 UTC,2024-02-16 20:59:45 UTC
3,4,Sydney Wehner,1,lyndsey_wolf@crist.test,15,82,8,1,386,individual,...,4,2223003122003222,895,5,2025,4,NaN,NaN,2024-02-16 20:59:45 UTC,2024-02-16 20:59:45 UTC
4,5,Johnsie Ritchie,1,odelia_friesen@ratke.example,43,86,3,3,239,individual,...,5,5200828282828210,615,4,2025,5,NaN,NaN,2024-02-16 20:59:45 UTC,2024-02-16 20:59:45 UTC
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4994,4995,Sherryl Zieme,1,claudine@goodwin.test,25,55,31,0,263,individual,...,4995,5555555555554444,484,3,2034,4995,NaN,NaN,2024-02-16 21:00:03 UTC,2024-02-16 21:00:03 UTC
4995,4996,Cheryle Konopelski,1,alida.hartmann@hane.example,73,56,5,6,211,individual,...,4996,2223003122003222,878,3,2037,4996,NaN,NaN,2024-02-16 21:00:03 UTC,2024-02-16 21:00:03 UTC
4996,4997,The Hon. Jenniffer Labadie,1,celine@cummings.test,1,42,23,3,120,familiar,...,4997,5200828282828210,631,8,2030,4997,NaN,NaN,2024-02-16 21:00:03 UTC,2024-02-16 21:00:03 UTC
4997,4998,Jesse Botsford Esq.,1,bertram.johnson@mccullough.example,3,41,16,4,64,individual,...,4998,5105105105105100,616,5,2026,4998,NaN,NaN,2024-02-16 21:00:03 UTC,2024-02-16 21:00:03 UTC
4998,4999,Msgr. Lee DuBuque,1,celeste@fisher-howell.example,55,22,18,3,4,individual,...,4999,4242424242424242,322,4,2030,4999,NaN,NaN,2024-02-16 21:00:03 UTC,2024-02-16 21:00:03 UTC

## Fixing CC Number

In [180]:
cc_nums = merged.number.unique()
cc_nums

array([4242424242424242, 4000056655699556, 5555555555554444,
       2223003122003222, 5200828282828210, 5105105105105100])

In [201]:
fix_cc = merged[merged.number == 4000056655699556]
fix_cc.shape

(833, 28)

In [181]:
cc_nums

array([4242424242424242, 4000056655699556, 5555555555554444,
       2223003122003222, 5200828282828210, 5105105105105100])

In [182]:
val = [4242424242424242, 4000056655665556, 5555555555554444, 2223003122003222, 5200828282828210, 5105105105105100]

In [205]:
val[1]

4000056655665556

In [204]:
cc_nums[1] == val[1]

False

In [183]:
cc_nums == val

array([ True, False,  True,  True,  True,  True])

In [ ]:
for index, row in merged.iterrows():
    if row['number'] == cc_nums[1]:
        print("Wrong CC number assigned")
        # Correct way to modify the DataFrame
        merged.at[index, 'number'] = val[1]

In [245]:
merged[merged.number == val[1]]

,id_x,name,team_id,email,tempo_de_assinatura,historico_de_presenca_nos_jogos,historico_de_socio,numero_de_desistencias_no_periodo,historico_de_preco_nos_planos,tipo_de_plano,...,id_y,number,cvc,exp_month,exp_year,customer_id,card_status,stripe_id,created_at_y,updated_at_y
1,2,Royal Pollich,1,carol_wehner@ernser.test,52,60,1,1,219,familiar,...,2,4000056655665556,337,8,2025,2,NaN,NaN,2024-02-16 20:59:45 UTC,2024-02-16 20:59:45 UTC
7,8,Michael Flatley,1,rufus_gorczany@kuhn-von.test,30,73,20,5,126,familiar,...,8,4000056655665556,271,8,2037,8,NaN,NaN,2024-02-16 20:59:45 UTC,2024-02-16 20:59:45 UTC
13,14,Kristel Waelchi CPA,1,cleopatra.feest@gislason.example,56,42,26,8,82,familiar,...,14,4000056655665556,374,11,2030,14,NaN,NaN,2024-02-16 20:59:45 UTC,2024-02-16 20:59:45 UTC
19,20,Thanh Nolan,1,ruben@gislason.example,54,73,30,8,112,individual,...,20,4000056655665556,616,11,2025,20,NaN,NaN,2024-02-16 20:59:45 UTC,2024-02-16 20:59:45 UTC
25,26,Ms. Morgan Reilly,1,desire.daugherty@altenwerth.test,62,38,5,2,383,familiar,...,26,4000056655665556,349,7,2036,26,NaN,NaN,2024-02-16 20:59:45 UTC,2024-02-16 20:59:45 UTC
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4969,4970,Lowell Shanahan IV,1,jim.halvorson@frami-farrell.example,49,37,4,8,73,individual,...,4970,4000056655665556,472,11,2034,4970,NaN,NaN,2024-02-16 21:00:03 UTC,2024-02-16 21:00:03 UTC
4975,4976,Amb. Delphine Thompson,1,assunta_leannon@little-bruen.test,29,51,33,0,364,familiar,...,4976,4000056655665556,331,7,2027,4976,NaN,NaN,2024-02-16 21:00:03 UTC,2024-02-16 21:00:03 UTC
4981,4982,Bette Becker,1,fritz.blick@stamm-beatty.test,22,34,4,8,149,individual,...,4982,4000056655665556,812,8,2026,4982,NaN,NaN,2024-02-16 21:00:03 UTC,2024-02-16 21:00:03 UTC
4987,4988,Margarita Bernhard,1,georgeann_larson@adams.test,69,20,29,1,9,familiar,...,4988,4000056655665556,536,7,2029,4988,NaN,NaN,2024-02-16 21:00:03 UTC,2024-02-16 21:00:03 UTC
4993,4994,Esther Herman,1,enrique@quigley-luettgen.test,8,9,20,5,271,familiar,...,4994,4000056655665556,907,11,2027,4994,NaN,NaN,2024-02-16 21:00:03 UTC,2024-02-16 21:00:03 UTC

## Filtering Stripe Info

In [246]:
filtered = merged[["id_x", "name", "email", "number", "cvc", "exp_month", "exp_year", "card_status", "stripe_id"]]
filtered

,id_x,name,email,number,cvc,exp_month,exp_year,card_status,stripe_id
0,1,Lissette Goldner,hoyt@boyer.example,4242424242424242,930,2,2034,NaN,NaN
1,2,Royal Pollich,carol_wehner@ernser.test,4000056655665556,337,8,2025,NaN,NaN
2,3,Murray Sawayn,lionel_cronin@boehm-gottlieb.example,5555555555554444,213,4,2025,NaN,NaN
3,4,Sydney Wehner,lyndsey_wolf@crist.test,2223003122003222,895,5,2025,NaN,NaN
4,5,Johnsie Ritchie,odelia_friesen@ratke.example,5200828282828210,615,4,2025,NaN,NaN
...,...,...,...,...,...,...,...,...,...
4994,4995,Sherryl Zieme,claudine@goodwin.test,5555555555554444,484,3,2034,NaN,NaN
4995,4996,Cheryle Konopelski,alida.hartmann@hane.example,2223003122003222,878,3,2037,NaN,NaN
4996,4997,The Hon. Jenniffer Labadie,celine@cummings.test,5200828282828210,631,8,2030,NaN,NaN
4997,4998,Jesse Botsford Esq.,bertram.johnson@mccullough.example,5105105105105100,616,5,2026,NaN,NaN
4998,4999,Msgr. Lee DuBuque,celeste@fisher-howell.example,4242424242424242,322,4,2030,NaN,NaN

In [248]:
users = {}

In [249]:
# Iterate over each row in the DataFrame and create a dictionary for each row
for index, row in filtered.iterrows():
    # Use the row index or any unique identifier as the key for the user in the users_dict
    # Convert the row to a dictionary and store it
    users[index] = row.to_dict()

In [250]:
users[0]

{'id_x': 1,
 'name': 'Lissette Goldner',
 'email': 'hoyt@boyer.example',
 'number': 4242424242424242,
 'cvc': 930,
 'exp_month': 2,
 'exp_year': 2034,
 'card_status': nan,
 'stripe_id': nan}

In [251]:
# create a stripe user for each one 
# create card object
# create pm, create user, attach pm to user
# assign stripe user id, card status

In [252]:
credit_card_keys = ['number', 'cvc', 'exp_month', 'exp_year']

In [253]:
cards = []

In [254]:
for i in users:
    
    card = {key: users[i][key] for key in credit_card_keys if key in users[i]}
    cards.append(card)

In [255]:
import stripe
import nbimporter
from main import create_token

In [256]:
pub_key = "pk_test_51OkU9VGMdHo5Se5ncZOBddSt9b6rrKVnjYxQDFM4KeGNvZqEQH9oQyhiwZb1nHevn0h7ViTKWzAkyKvwhnSzNuNc00MvcGHn79"
sec_key = "sk_test_51OkU9VGMdHo5Se5nkdzsG1GttjWCkvrAWEdvIi3Yz3pnTa89SeohoTQn8lF54XLHGmPILtSxokZTCr9wNrpUC9kw007mbNBDXA"

In [257]:
stripe.api_key  = pub_key

In [258]:
cards[0]

{'number': 4242424242424242, 'cvc': 930, 'exp_month': 2, 'exp_year': 2034}

### Create Tokens

In [284]:
import time

In [ ]:
token_ids = []

In [355]:
len(token_ids)

5000

In [353]:
token_ids[4650]

'tok_1OknJBGMdHo5Se5nWmHo8QAz'

In [354]:
for card in cards[4650:4999]:
    
    token_id = create_token(card)
    token_ids.append(token_id)

In [ ]:
def process_cards_in_batches(cards, batch_size=300):
    token_ids = []
    total_cards = len(cards)
    
    for beg in range(0, total_cards, batch_size):
        end = min(beg + batch_size, total_cards)
        for card in cards[beg:end]:
            token_id = create_token(card)
            token_ids.append(token_id)
    
    return token_ids

# Example usage
cards = [f"card_{i}" for i in range(1500, 5000)]  # Simulate an array of card identifiers
token_ids = process_cards_in_batches(cards)

print(len(token_ids))  # Should print 5000

### Create Payment Method

In [357]:
from main import create_payment_method_from_token

In [372]:
pms = []
pm_ids = []
for token in token_ids:
    stripe.api_key  = sec_key
    if stripe.Token.retrieve(token_id):
        pass
    
    else:
        stripe.api_key  = pub_key
        pm = create_payment_method_from_token(token_id)
        pm_id = pm.id
        pms.append(pm)
        pm_ids.append(pm_id)

[]

### Create Customer

## Draw Data

In [100]:
from drawdata import draw_scatter

In [101]:
draw_scatter()