In [1]:
import pandas as pd

In [8]:
df_connect = pd.read_csv('/home/giovane/hackathon_24/ClubStay/data/fa_connect.csv')
df_socio = pd.read_csv('/home/giovane/hackathon_24/ClubStay/data/socio_torcedor.csv')
df_wifi = pd.read_csv('/home/giovane/hackathon_24/ClubStay/data/wifi.csv')

In [9]:
df_connect.head()

,_id,numero_de_camisa_preferido,tamanho_do_sapato,quantidade_de_filhos,altura,peso,cidade_de_nascimento,renda,comida_favorita,bebida_favorita,look_que_mais_combina,videogame_favorito,tempo_de_associacao_torcedor_m,modalidade_esportiva_interesse,interesse_em_merchandising,canal_de_comunicacao_preferido
0,1,10,42,2,175,70,sao_paulo,2501 a 5000,churrasco,cerveja,esportivo,fifa,5,basquete,falso,email
1,2,7,39,0,160,55,rio_de_janeiro,1501 a 2500,pizza,refrigerante,casual,pes,12,volei,verdadeiro,sms
2,3,23,44,3,182,85,belo_horizonte,0 a 1500,sushi,saque,elegante,call_of_duty,28,tenis,falso,whatsapp
3,4,11,41,1,168,65,salvador,0 a 1500,massa,vinho,urbano,fortnite,3,tenis,falso,email
4,5,8,43,4,190,90,porto_alegre,0 a 1500,hamburguer,milkshake,alternativo,minecraft,15,natação,falso,whatsapp

In [10]:
df_connect.columns

Index(['_id', 'numero_de_camisa_preferido', 'tamanho_do_sapato',
       'quantidade_de_filhos', 'altura', 'peso', 'cidade_de_nascimento',
       'renda', 'comida_favorita', 'bebida_favorita', 'look_que_mais_combina',
       'videogame_favorito', 'tempo_de_associacao_torcedor_m',
       'modalidade_esportiva_interesse', 'interesse_em_merchandising',
       'canal_de_comunicacao_preferido'],
      dtype='object')

In [16]:
df_wifi.shape , df_connect.shape , df_socio.shape

((4999, 16), (4999, 16), (4999, 13))

In [11]:
df_socio.head()

,_id,tempo_de_assinatura,historico_de_presenca_nos_jogos,historico_de_socio,numero_de_desistencias_no_periodo,historico_de_preco_nos_planos,tipo_de_plano,quantos_membros,planos_com_ingresso_incluso,estado_civil,risco_de_churn,feedback_sobre_servicos,frequencia_de_compra_de_produtos
0,1,39,71,11,4,134,familiar,4,sim,solteiro,medio,3,0
1,2,52,60,1,1,219,familiar,3,sim,divorciado,alto,1,3
2,3,29,20,4,3,435,individual,4,nao,casado,alto,4,5
3,4,15,82,8,1,386,individual,4,sim,solteiro,baixo,2,10
4,5,43,86,3,3,239,individual,1,sim,casado,alto,8,2

df_socio['estado_civil'].unique()

In [12]:
df_socio.columns

Index(['_id', 'tempo_de_assinatura', 'historico_de_presenca_nos_jogos',
       'historico_de_socio', 'numero_de_desistencias_no_periodo',
       'historico_de_preco_nos_planos', 'tipo_de_plano', 'quantos_membros',
       'planos_com_ingresso_incluso', 'estado_civil', 'risco_de_churn',
       'feedback_sobre_servicos', 'frequencia_de_compra_de_produtos'],
      dtype='object')

In [13]:
df_wifi.head()

,ticket_medio_do_usuario,renda_familiar,historico_no_estadio,spc,profissao,composicao_familiar,socio_torcedor,assinante_do_premiere,comida_favorita,bebida_favorita,produtos_potenciais,numero_de_acessos_na_web,retencao_pagina_segundos,emails_recebidos,sms_recebidos,n_transacoes
0,"494,33",2501 a 5000,16,Positivo,Professor,Solteiro(a),Não,Não,salada,agua,Ingressos,2,2,5,1,7
1,"406,34",0 a 1500,17,Negativo,Engenheiro,Casado(a) com filhos,Sim,Sim,pizza,refrigerante,Sócio torcedor,10,3,7,1,13
2,"178,93",0 a 1500,7,Negativo,Advogado,Casado(a) sem filhos,Não,Sim,salada,agua,Camisa,5,10,2,0,10
3,"182,40",1501 a 2500,12,Positivo,Engenheiro,Solteiro(a),Não,Não,hamburguer,suco,Ingressos,2,213,7,3,10
4,"331,29",1501 a 2500,11,Negativo,Professor,Divorciado(a),Sim,Sim,pizza,cerveja,Sócio torcedor,60,87,3,4,13

In [14]:
df_wifi.columns

Index(['ticket_medio_do_usuario', 'renda_familiar', 'historico_no_estadio',
       'spc', 'profissao', 'composicao_familiar', 'socio_torcedor',
       'assinante_do_premiere', 'comida_favorita', 'bebida_favorita',
       'produtos_potenciais', 'numero_de_acessos_na_web',
       'retencao_pagina_segundos', 'emails_recebidos', 'sms_recebidos',
       'n_transacoes'],
      dtype='object')